@import url(https://fonts.googleapis.com/css?family=Poppins:wght@400;500;600&display=swap);

*{
  font-family: 'Poppins';
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
}

.container {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

.navbar {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center; /* Vertically align items */
  gap: 16px 16px 16px 0px;
  font-family: Courier;
  max-height: 67px;
  background-color: rgb(182, 147, 145);
}

.navbar .logo {
  display: flex;
  gap: 10px;
  align-items: center; /* Align items vertically */
}

.navbar .logo h2 {
  margin-right: 10px; /* Adjust spacing */
  padding-top: 15px;
  font-weight: bolder;
  color: white;
}

.navbar .logo img {
  padding-top: 10px;
  height: 40px;
  width: auto;
  display: flexbox;
  flex-shrink: 0;
}

.navbar .links {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 15px;
  padding-left: 16px;
}

.navbar .links a{
  text-decoration: none;
  color: white;
}

.navbar .profile {
  margin-left: auto;
  align-items: center;
  display: flex;
  gap: 20px;
}

.navbar .profile i{
  cursor: pointer;
  padding-top: 15px;
  color: white;
}

.navbar .profile img{
  padding: 2px;
  cursor: pointer;
  height: 40px;
  width: auto;
  display: flex;
  flex-shrink: 0;
  border-radius: 25px;
}

.sub-menu-wrap {
  position: absolute;
  top: 70px;
  right: 0%;
  margin-right: 16px;
  max-width: 400px;
  overflow: hidden;
  display: block; /* Initially hidden */
  background-color: rgb(229, 196, 195);
  max-height: 0px;
  transition: max-height 1s;
  color: white;
}

.open-menu {
  max-height: 250px;
}
.sub-menu-wrap .sub-menu{
  padding: 20px;
}

.sub-menu .user-info{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.sub-menu .user-info p{
  font-weight: 400;
  margin: 8px 0;
}

.sub-menu-wrap .sub-menu .user-info img, .sub-menu-link img{
  width: 40px;
  height: auto;
  background-color: rgb(230, 230, 230);
  border-radius: 50%;
  margin-right: 10px;
}

.sub-menu-link{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  padding: 10px;
}

.sub-menu-link p{
  margin-top: 12px;
  margin-bottom: 12px;
  width: 100%;
}

.sub-menu-link span{
  font-size: 22px;
  transition: transform 0.5s;
}

.sub-menu-link:hover span{
  transform: translateX(5px);
}

.sub-menu-link:hover p{
  font-weight: 600;
}

.sub-menu hr{
  margin-top: 1px;
  padding: 0px;
}

/* 
*   not nav, own body starts
*/

.body{
  display: flex;
  min-height: 650px;
  padding-top: 0px;
  background-color: rgb(221, 186, 185);
}

.side-menu {
  max-width: 220px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
  display: flex;
  flex-direction: column; 
  flex-grow: 0; 
  flex-shrink: 0;
  padding: 20px;
  padding-right: 30px;
  height: 650px;
  background-color: rgb(201, 169, 166) ;
}

.side-menu .task-links ul{
  padding-left: 0px;
}
.side-menu .tasks li{
  list-style: none;
  align-items: center;
  background-color: rgb(189, 139, 136 );
  padding: 10px;
  border-radius: 25px;
}

.side-menu .tasks .task a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size:large;
}

.side-menu .tasks .task i{
  color: white;
  margin-left: auto;
}

.side-menu h4{
  padding: 16px 0px;
  color:#fff;
}

.rewards{
  display: flex;
  gap: 7px;
  border-bottom: 1px solid rgb(35,45,55);
  margin-bottom: 20px;
}

.side-menu .rewards .selected{
  cursor: pointer;
  border: 1px solid rgb(35,45,55);
  border-bottom: 0px;
  background-color: white;
  padding: 5px 7px;
  color: rgb(70, 152, 246);
  font-size: small;
  font-weight: bold;
}

.side-menu .rewards .not-selected {
  cursor: pointer;
  font-size: small;
  padding: 5px 7px;
  color: rgb(35,45,55);
}

.visibility-toggle{
  position: relative;
  justify-content: center;
  width: 100%;
  min-height: 500px;
}



.invisible{
  opacity: 0;
  min-height: 0;
  transition: opacity 0.5s;
}

.visible {
  opacity: 1;
  min-height: 500px;
  transition: opacity 0.5s;
}


.photos, .coins{
  display: flexbox;
  padding: 10px;
  flex-wrap: wrap;
  background-color: white;
  min-height: 460px;

}

.photos img, .coins img{
  width: 50px;
  height: auto;
  border-radius: 50%;
  margin: 10px;
}


.content{
  width: 100%;
  min-height: 650px;
}

.search-bar{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
}

.search
{
  display: flex;
  margin: 20px;
  position: relative;
  width: 300px;
  height: 30px;
  background-color: white;
  border-radius: 25px;
}

.search input[type=text]{
  width: 300px;
  border: none;
  outline: none;
  padding-left: 15px;
  height: 30px;
  cursor: text;
  background-color: transparent;
}


.search .search-icon{
  margin-left: -35px;
  cursor: pointer;
  font-size: 22px;
  color:rgb(70, 152, 246);
  margin-right: auto;
  padding: 5px;
}


.search-bar .filter select{
  appearance: none;
  /* safari */
  width: 300px;
  font-size: 15px;
  height: 30px;
  margin: 20px;
  padding: 5px;
  padding-left: 10px;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 25px;
  color: gray;
  cursor: pointer;
}

.content .tasks{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  padding-top: 0px;
}

.content .task{
  background-color: white;
  overflow-x: hidden;
  display: block;
  margin: 10px;
  padding: 20px;
}





/**/

i #togglePassword{
  margin-left: -30px;
  cursor: pointer;
  
}

.btn-link{
  padding: 12px;
  margin: 1px;
  background-color: rgb(63, 142, 126);
  color: white;
  border: 1px solid white;
}


.to-do{
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  padding: 2px 5px;
}

